# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Secrets & Configs
.env
.env*.local
eas.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
*.pem
hs_err_pid*
replay_pid*